/* reset css */
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/*Start CSS for header*/
.header {
    height: 60px;
    background-color: #DDD;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header #nav {
    display: flex;
    justify-content: center;
}

#nav li a,
#nav li i {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    line-height: 60px;
    padding: 0px 10px;
    font-size: 20px;
}

#nav li a {
    font-family: 'Saira Extra Condensed', sans-serif;
}

#logo--first img {
    max-width: 200px;
    max-height: 50px;
}
/*End CSS for header*/

/*Start CSS for content*/
.content {
    display: block;
}
.banner {
    background: url('/assets/img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin-top: 60px;
    flex-direction: column;
}

.banner--title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Saira Extra Condensed', sans-serif;
    margin-left: 280px;
}

.banner--content {
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 280px;
    font-family: monospace;
    word-spacing: 1px;
}

.banner--btn {
    padding: 20px 25px;
    margin: 15px 0px 0px;
    background-color: #EA8025;
    max-width: 110px;
    margin-left: 280px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 18px;
}

.menu__container {
    padding: 80px 0 20px 0;
    min-width: 960px;
}

.menu__container--title {
    display: flex;
    justify-content: space-between;
    margin: 0px 280px;
    padding-bottom: 15px;
} 

.title--btn #menu {
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #EA8025;
    font-size: 32px;
    background: none;
}

.title--btn #seemore {
    font-family: 'Saira Extra Condensed', sans-serif; 
    line-height: 48px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 0 5px;
}

.menu__container--content {
    margin: 0 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content--product img {
    max-width: 300px;
    max-height: 300px;
    margin: 15px 0;
}

.info__product {
    padding-top: 12px;
}

.info__product h3 {
    font-family: 'Saira Extra Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    padding-bottom: 20px;
}

.info__product--price {
    font-family: 'Saira Extra Condensed', sans-serif;
    text-transform: uppercase;
    color: #EA8025;
    font-size: 22px;
    padding-bottom: 10px;
}

.info__product--buy,
.article__info--SeeMore {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #FFFFFF;
    padding: 10px;
    background-color: #EA8025;
    margin-right: 10px;
    text-transform: uppercase;
}

.info__product--SeeMore {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #000000;
    background-color: #DDD;
    padding: 10px;
}



/*Start CSS for layout blog*/
.blog {
    background-image: url('./img/bg_blog_home.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #191919;
}

.blog__container {
    padding: 80px 0 20px;
}

.blog__container--title {
    display: flex;
    justify-content: space-between;
    margin: 0 250px;
}

.title--blog p,
.NameTitle {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #EA8025;
    font-size: 36px;
    text-transform: uppercase;
}

.title--SeeMore button {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #EA8025;
    background: #FFFFFF;
    line-height: 56.8px;
    min-width: 130px;
    font-size: 16px;
    text-transform: uppercase;
}

.article {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.article__info {
    background-color: #FFFFFF;
    padding: 25px;
}

.article__info--news {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #EA8025;
    text-transform: uppercase;
    font-size: 22px;
}

.article__info--title,
.card--title {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #000000;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 5px;
}

.article__info--content,
.card--content {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 13px;
    padding-bottom: 15px;
}

.article__img--small {
    display: flex;
    margin: 20px 240px 0 240px;
    justify-content: flex-start;
}

.card img {
    width: 100%;
    
}

.card {
    margin: 10px;
    max-width: 33%;
}

.card__content {
    background-color: #FFFFFF;
    padding: 25px;
}
/*End CSS for layout blog*/

/*Start CSS for layout store*/
.store__container {
    padding: 80px 0 20px;
}

.store__container--title {
    margin: 0 245px;
}

.NameTitle {
    margin-bottom: 30px;
}

.store__container--content .content--slider {
    background-color: #EA8025;
    padding: 90px 30px;
    max-width: 40%;

}

.content--slider .p1 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #FFFFFF;
}

.content--slider .p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    margin: 30px 0;
}


.store__container--content {
    display: flex;
    margin: 0 245px;
}

.content--img {
    width: 60%;
    background-image: url('./img/3e0a8783_master.jpg');
    background-size: cover;
}

.ListStore {
    margin: 20px 245px;
}
.slider__ListStore {
    justify-content: space-between;
    display: flex;
    list-style: none;
}

.slider__ListStore li img  {
    width: 245px;
    height: 167px;
}
/*End CSS for layout store*/
/*End CSS for content*/

/*Start CSS for footer*/
.footer__container {
    background-color: #191919;
    display: flex;
    padding: 100px 245px 20px 245px;
}

.footer--logo {
    width: 25%;
}

.footer--logo img {
    background-color: #191919;
    padding: 25px;
    width: 40%;
}

.footer--about p,
.footer--support p,
.footer--delivery p,
.footer--end p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    padding: 4px 0;
}

.about--title {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 32px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.footer--about {
    width: 25%;
    padding: 0 10px;
}

.footer--about img {
    max-width: 200px;
    max-height: 76px;
    padding-top: 10px;
}

.footer--support {
    width: 25%;
    padding: 0 10px;
    padding: 0 10px;
}

.footer--end {
    background-color: #191919;
    padding: 20px 245px;
}
/*End CSS for footer*/